Source: hvinfo
Section: contrib/utilities
Priority: extra
Maintainer: Daniil Baturin <daniil@baturin.org>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 12), gnat (>=12.0), gprbuild

Package: hvinfo
Depends: libgnat-12
Architecture: i386 amd64 armhf arm64
Description: Hypervisor detection tool
 A hypervisor detection tool that supports detecting
 KVM, Xen PV or HVM, VMware, Bhyve, and other full virtualization environments.
